<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact"><!-- to group some filed to access them f.contact.firstname-->
        <div class="form-group">
            <label for="firstname">Firstname</label><input required minlength="3" maxlength="10" pattern="[a-zA-Z]+"
                ngModel #firstname="ngModel" name="firstname" (change)="log(firstname)" id="firstname" type="text"
                class="form-control">
            <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
                <div *ngIf="firstname.errors?.['required']">Ce champ est obligatoire</div>
                <div *ngIf="firstname.errors?.['minlength']">min {{firstname.errors?.['minlength'].requiredLength}}
                    caractères</div>
                <div *ngIf="firstname.errors?.['pattern']">pattern non respecté</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label><input ngModel #lastname name="lastname" id="lastname" type="text"
                class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel #comment name="comment" id="comment" type="text" class="form-control"></textarea>
    </div>

    <div class="form-group"><label for="contactMethod"></label>
        <select class="form-control" ngModel name="contactMethod" id="contactMethod">
            <option value=""></option>
             <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
            <!--option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option-->
        </select>
    </div>

    <div class="radio" *ngFor="let method of contactMethods">
        <label for="contactMethod2">
            <input type="radio" name="contactMethod2" ngModel value="{{method.id}}"> {{method.name}}
        </label>
    </div>

    <div class="radio" *ngFor="let method of contactMethods">
        <label for="contactMethod2">
            <input type="radio" name="contactMethod2" ngModel [value]="method.id"> {{method.name}}
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="subscribe"> S'abonner      
        </label>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" [disabled]="!f.valid">Enregistrer</button>
    </div>
    
</form>

<p>
    {{f.value.contact?.firstname}}
</p>
<p>
    {{f.value|json}}
</p>
