<h1>Notre application angular</h1>

<div class="container">
    <div class="col-md6 col-md-offset-3">
        <contact-form></contact-form>
    </div>
</div>

###########################################################################################################################

<div class="container">
    <div class="col-md6 col-md-offset-3">
        <signup-form></signup-form>
    </div>
</div>
###########################################################################################################################
<div class="container">
    <div class="col-md6 col-md-offset-3">
        <followers></followers>
    </div>
</div>
###########################################################################################################################
<div class="container">
    <div class="col-md6 col-md-offset-3">
        <posts></posts>
    </div>
</div>
###########################################################################################################################





<courses></courses>

<p>{{body|resume:30}}</p>

<!-- Componenet Api : favorte componenet receive input and generate out put on chnage event-->
<!-- we can pass the value from app comp to favorite comp-->
<favorite [is-fav]="post.isFavorite" (change)="onFavChange($event)"></favorite>

#### Custom directive
<input type="text" appInputFormat [format]="'lowercase'">

<panel>
    <div class="header">This is the header</div>
    <div class="body">
        <h3>This is the body content</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium, ipsam optio possimus ea
            voluptates eligendi esse quaerat culpa odit? Est exercitationem totam pariatur maxime. At provident
            voluptate in exercitationem!</p>
    </div>
</panel>