<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/followers" routerLinkActive="active">Followers</a>
            </li>
        </ul>
    </div>

</nav>